*
{
margin: 0;
padding: 0;
}
.container{
   
    width:100%;
}
input[type="button1"]{
    margin-left: 42px;
    background-color: #14568C;
    height: 35px;
    width: 170px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius:8px;
    color: white;
    margin-top:30;
  }
  marquee{
      margin-top: 0px;
      color: red;
  }