
  <div class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../assets/images/aps.jpg" style="width: 100px; height:100px; border-radius:50%; margin-left: 20px;">
      </a>
      <pre class="logo-title1" >
        ANDHRA PRADESH
        BACKWARD CLASSES 
        CAREER MANAGEMENT SYSTEM (APBCCMS)                        
       </pre>  

       <img class="circle1" src="../assets/images/cbn2.jpg">
            <pre class="cbn-title1">
                <b>Sri Nara Chandrababu Naidu</b>
                  Honerable Chief Minister
                        Andhra Pradesh
            </pre> 

            <img class="img-circle1" src="../assets/images/achannaidu.jpg" >
            <pre class="atch-title1">
                <b>Sri Kinjarapu Atchannaidu </b>
            Honerable Minister, BC Welfare and
                Empowerment, Transport, 
                  Handlooms and textiles
            </pre>
    </div>
  </div>

<!-- 
    <div class="container-fluid light">
    <div class="wrapper">
       
    <div class="row">
        <div class="col-4">
            <div id="logo_left">
                <img src="../assets/images/aps.jpg" class="logo-img"  >
                       <pre class="logo-title">
                        ANDHRA PRADESH
                        BACKWARD CLASSES 
                        CAREER MANAGEMENT SYSTEM (APBCCMS)                        
                       </pre>            
            </div>
        </div>

        <div class="col-4">
            <img class="circle" src="../assets/images/cbn2.jpg">
            <pre class="cbn-title">
                <b>Sri Nara Chandrababu Naidu</b>
                  Honerable Chief Minister
                        Andhra Pradesh
            </pre>     
        </div>

        <div class="col-4">
            <img class="img-circle" src="../assets/images/achannaidu.jpg" >
            <pre class="atch-title">
                <b>Sri Kinjarapu Atchannaidu </b>
            Honerable Minister, BC Welfare and
                Empowerment, Transport, 
                  Handlooms and textiles
            </pre>
        </div>
    </div>      
  
    </div>
    </div> -->

<nav class="navbar navbar-expand-lg navbar-dark dark ">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: #e3f2fd; margin-left: 30px;" href="#">APBCCMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/jobs" routerLinkActive="active" >Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/training" routerLinkActive="active">Training Skill Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/jobmela" routerLinkActive="active">Job Mela</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/reports" routerLinkActive="active">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/helpdesk" routerLinkActive="active">Help Desk</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/contacts" routerLinkActive="active">Contacts</a>
          </li>        
          
          <li class="nav-item dropdown d-flex" style='margin-left:550px; width: 85px;'>
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About</a></li> <br>
              <li><a class="dropdown-item" routerLink="/display" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Display Page</a></li> <br>
              <li><a class="dropdown-item" routerLink="/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Sign Up </a></li>
              <li><a class="dropdown-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Something else here</a></li>
            </ul>
          </li>       
          <!-- <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/login" routerLink="active" >Login</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/login" routerLinkActive="active">Login</a>
          </li>    

        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>


 <div class="container">
 <div class="wrapper">
 <div id="z">
                <p>BC & EBC Students can apply.<br>
                    Tollfree Number:1800 425 6596</p>
                    <button class="button1" routerLink="/news">Latest News & Information</button>              
                  <span>
                    <p style="margin-top: -30px; margin-left: 215px; margin-right: -180px; color:#0dcaf0;"> 
                      <marquee behaviour="Scroll" action="left" scrollAmount="5"><B>Infosys is hiring freshers for Software Devops</B></marquee>
                    </p>
                  </span>
        </div>
        </div>    
        </div> 


