<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div>
      <h4>YOU REGISTERED AS A CANDIDATE</h4>
      <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="reg">Name: Suresh Golla.</div>
                <div class="reg"><b> Email : </b> s@gmail.com.</div>
                <div><a routerLink="/profile">Fill Profile</a></div>
            </div>
            <div class="col-4">
                <img src="assets/images/55.JPG" alt="">
            </div>
        </div>
              
      </div>
    </div>    
  </body>
</html>

<div class="d-grid gap-2 col-6 mx-auto">
   <button type="button" class="btn btn-lg btn-outline-dark mt-5 bt1" >Update Profile</button>
</div>

<div class="container">
    <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th scope="col">Job Name</th>
            <th scope="col">Organisation</th>
            <th scope="col">Applied On</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>dev</td>
            <td>love</td>
            <td>hello</td>
            <td>hoe</td>
          </tr>
          <tr>    
                   
           
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-lg btn-outline-dark mt-2" >Update Profile</button>
                 </div>
                      
          </tr>
          
        </tbody>
      </table>
</div>
