{% load static %}
<html>
<head><title>Web desin with html and css</title>
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/exam.css' %}">
</head>
<body>
<nav>
    <div class="container light">
    <div class="wrapper">
    <div id="logo_left">
        <img class="img-circle img-responsive center-block" 
        src="{% static 'images/aplogo.png' %}" height="90" width="90">
               <h1 id="bottom_div_right">
                ANDHRA PRADESH
                BACKWARD CLASSES 
                CAREER MANAGEMENT SYSTEM (APBCCMS)
     </h1>
    </div>
    <div id="logo_right">
     <form >
         <input id="textstyle" type="text" name="textbox">
         <input id="button" type="button" name="seach" value="search">
    </form>
    </div>
    <div id="clear">
    </div>
    </div>
    </div>
<div class="container dark">
<div class="wrapper">
    <div id="t">
    <ul>
        <li>APBCCMS</li>
            <li><a href="{% url 'home' %}">Home<a></li>
            <li><a href="{% url 'jobs' %}">Jobs<a></li>
            <li><a href="{% url 'training' %}">Training Skill Courses<a></li>
            <li><a href="{% url 'jobsmela' %}">Job Mela<a></li>
             <li><a href="{% url 'reports' %}">Reports<a></li>
            <li><a href="{% url 'helpdesk' %}">Help Desk<a></li>
            <li><a href="{% url 'contacts' %}">Contacts<a></li>
             <li><a style='margin-left:240px; width: 85px; ' >More<a></li>
                 <select name="More" id="More" select="">
                   <option ></option>
                   <option >commercial</option>
                   <option >vaccotional</option>
                   <option >business</option>

                 </select>
                
                

             <li><a href="{% url 'login' %}"style='margin-left: 0px; margin-right:0px; display: block;
                background-color: black; width:100px;' >LOGIN<a></li>
                    
         </ul>
                 </div>

</div>    
</div>
<div class="container">
 <div class="wrapper">
 <div id="">
     
                <p>BC & EBC Students can apply.</br>
                    Tollfree Number:1800 425 6596</p>
                    <a href="{% url 'updates' %}"><input type="button1" value="Latest News & Information" ></a>
                    <CENTER>
                  <p1> <font size=6 color=blue><marquee behaviour="Scrol" action="left"><B>Infosys is hiring freshers for Software Devops</B></marquee></font>
                             </p1>  </CENTER>
        </div>
        </div>    
        </div>
    </nav>

{% block content %}
       



        <div class="container light">
                <div class="wrapper">
                <div id="z">
                    
                        <h2>Jobs - Click Here</h2>
                        <h2>Skills - Click Here</h2>
                       <a  href="{% url 'Register' %}"><input type="button5" value="Register as Candidate"></a>
                       <a  href="{% url 'Register' %}"><input type="button2" value="Register as Student" ></a>
                       <a  href="{% url 'Register' %}"><input type="button3" value="Register as Organization/Company" ></a>
                       <a  href="{% url 'Register' %}"><input type="button4" value="Register as Institution/Course Provider" ></a>
                       <a  href="{% url 'Register' %}"><input type="button6" value="Register as BC Federation Member" ></a>
                       <a  href="{% url 'Register' %}"><input type="button7" value="Aaradhana Programme" ></a>
                       
                       </div>
                       </div>    
                       </div>
                      




                       <div class="container light">
                        <div class="wrapper"></div>
                        <div id="logo">
                          <u>Some of our Recent Recruiters</u>
                         </h1>
                        </div>


<img src="1.jpg" height="186.1" width="186.1">
<img src="2.jpg" height="186.1" width="186.1">
<img src="3.jpg" height="186.1" width="186.1">
<img src="4.jpg" height="186.1" width="186.1">
<img src="5.jpg" height="186.1" width="186.1">
<img src="6.jpg" height="186.1" width="186.1">
<img src="7.jpg" height="186.1" width="186.1">
<img src="8.jpg" height="186.1" width="186.1">
<img src="9.jpg" height="186.1" width="186.1">
<img src="0.jpg" height="186.1" width="186.1">
<img src="11.jpg" height="186.1" width="186.1">
<img src="12.jpg" height="186.1" width="186.1">
<img src="13.jpg" height="186.1" width="186.1">
<img src="14.jpg" height="186.1" width="186.1">
<img src="15.jpg" height="186.1" width="186.1">
<img src="16.jpg" height="186.1" width="186.1">
<img src="17.jpg" height="186.1" width="186.1">
<img src="18.jpg" height="186.1" width="186.1">
<img src="19.jpg" height="186.1" width="186.1">
<img src="20.jpg" height="186.1" width="186.1">
<img src="21.jpg" height="186.1" width="186.1">
<img src="22.jpg" height="186.1" width="186.1">
<img src="23.jpg" height="186.1" width="186.1">
<img src="24.jpg" height="186.1" width="186.1">
<img src="25.jpg" height="186.1" width="186.1">
<img src="26.jpg" height="186.1" width="186.1">
<img src="27.jpg" height="186.1" width="186.1">
<img src="28.jpg" height="186.1" width="186.1">
<img src="29.jpg" height="186.1" width="186.1">
<img src="12.jpg"  height="186.1" width="186.1">
<img src="22.jpg"  height="186.1" width="186.1">
<img src="19.jpg"  height="186.1" width="186.1">




<div class="container light">
        <div class="wrapper"></div>
        <div id="logo1">
          <u>Indutrial Automation</u>
          <u>Information Technology</u>

        </h1>
        </div>

        <img src="30.jpg"  height="186.1" width="186.1">
        <img src="31.jpg"  height="186.1" width="186.1">
        <img src="32.jpg"  height="186.1" width="186.1">
        <img src="33.jpg"  height="186.1" width="186.1">
        <img src="34.jpg"  height="186.1" width="186.1">
        <img src="35.jpg"  height="186.1" width="186.1">
        <img src="36.jpg"  height="186.1" width="186.1">
        <img src="37.jpg"  height="186.1" width="186.1">
        <img src="38.jpg"  height="186.1" width="186.1">
        <img src="39.jpg"  height="186.1" width="186.1">
        <img src="40.jpg"  height="186.1" width="186.1">
        <img src="41.jpg"  height="186.1" width="186.1">
        <img src="42.jpg"  height="186.1" width="186.1">
        <img src="43.jpg"  height="186.1" width="186.1">
        <img src="44.jpg"  height="186.1" width="186.1">
        <img src="35.jpg"  height="186.1" width="186.1">





   <div id="footer">
    @ No Copy rights.
   </div>
{% endblock %}
</body>
</html>