<html>
<head><title>Web desin with html and css</title>
<link rel="stylesheet" type="text/css" href="ex.css">
</head>
<body  background="C:\Users\user\Desktop\y1.jpg"> 

<input type="button1" value="Latest News & Information" > <font size=6 color=blue><marquee behaviour="Scrol" action="left"><B>WELCOME TO FARMERS ADDA</B></marquee></font>





<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">
<img src="C:\Users\user\Desktop\Programs test\y.jpg" height="90" width="90">

    <?php
if(isset($_submit))


/>
    <input type="file" name="image/*" action="accept">
    <input type="submit" name="file-upload">
    

</body>
</html>