
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <form [formGroup]="formValue">
    <div class="middle">
    <h3 style="text-align: center; text-transform: capitalize;">Student Registration(Skill Seeker)</h3>
    <hr style="margin-left: 325px; margin-right: 325px;">

    <input type="text" formControlName="firstName" placeholder="First Name"required /><br/><br/>
            
    <input type="text" formControlName="lastName" placeholder="Last Name"required /><br/><br/>
    
    <input type="text" formControlName="email" placeholder="E-mail address"required /><br/><br/>
    
    <input type="text" formControlName="password" placeholder="password" required /><br/><br/>
    
    <input type="text" formControlName="cpassword"   placeholder="Confirm password" required /><br/><br/>
     
    <input type="text" formControlName="mobile"   placeholder="mobile number" required /><br/><br/>
</div>
    <div id="button">
    <input  (click)="postStudentDetails()" type="button" name="submit" value="SignUp" /><br/><br/>
    <!-- <input  (click)="postStudentDetails()" type="button" name="submit" value="Update" /><br/><br/> -->
    
    </div>
    <p style="text-align: center;">Already have an account? Then please <a routerLink="/login" style="text-decoration: none;">Signin</a>.</p>
  </form>
</div>

</body>
</html>


