<div>
  <html>
    <body>
      <div class="container overflow-hidden light">
        <div class="row gy-5">
          <div class="col-6">
            <h2 class="p-3">Jobs - Click Here</h2>
          </div>

          <div class="col-6">
            <h2 class="p-3">Skills - Click Here</h2>
          </div>

          <div class="col-6 mt-1">
            <div class="p-3 border b1" routerLink="/candidate">
              Register as Candidate
            </div>
          </div>
          <div class="col-6 mt-1">
            <div class="p-3 border b2" routerLink="/student">
              Register as Student
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border b3" routerLink="/company">
              Register as Organization/Company
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border b4" routerLink="/institute">
              Register as Institution/Course Provider
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border b5" routerLink="/federation">
              Register as BC Federation Member
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border b6" routerLink="/aadharna">
              Aaradhana Programme
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>

  <div>
    <div class="alert mt-3" id="logo" role="alert">
      Some of our Recent Recruiters
    </div>
    <marquee behavior="scroll" direction="left" scrollAmount="25">
      <img src="assets/images/1.JPG" />
      <img src="assets/images/2.JPG" />
      <img src="assets/images/3.JPG" />
      <img src="assets/images/4.JPG" />
      <img src="assets/images/5.JPG" />
    </marquee>

    <div class="mt-2 text-center" style="font-size: 20px">
      Some of our Recruiters
    </div>
    <div>
      <img src="assets/images/6.JPG" />
      <img src="assets/images/7.JPG" />
      <img src="assets/images/8.JPG" />
      <img src="assets/images/9.JPG" />
      <img src="assets/images/0.JPG" />
      <img src="assets/images/11.JPG" />
      <img src="assets/images/12.JPG" />
      <img src="assets/images/13.JPG" />
      <img src="assets/images/14.JPG" />
      <img src="assets/images/15.JPG" />
      <img src="assets/images/16.JPG" />
      <img src="assets/images/17.JPG" />
      <img src="assets/images/18.JPG" />
      <img src="assets/images/19.JPG" />
      <img src="assets/images/20.JPG" />
      <img src="assets/images/21.JPG" />
      <img src="assets/images/22.JPG" />
      <img src="assets/images/23.JPG" />
      <img src="assets/images/24.JPG" />
      <img src="assets/images/25.JPG" />
      <img src="assets/images/26.JPG" />
      <img src="assets/images/27.JPG" />
      <img src="assets/images/28.JPG" />
      <img src="assets/images/29.JPG" />
      <img src="assets/images/12.JPG" />
      <img src="assets/images/19.JPG" />

      <img src="assets/images/30.JPG" />
      <img src="assets/images/31.JPG" />
      <img src="assets/images/32.JPG" />
      <img src="assets/images/33.JPG" />
      <img src="assets/images/34.JPG" />
      <img src="assets/images/35.JPG" />
      <img src="assets/images/35.JPG" />
    </div>

    <div class="container-fluid light">
      <div class="row" id="logo1">
        <div class="col-6">
          <u>Industrial Automation</u>
          <hr />
          <div style="margin-top: 5px">
            <img src="assets/images/45.JPG" />
            <img src="assets/images/46.JPG" />
            <img src="assets/images/47.JPG" />
            <img src="assets/images/48.JPG" />
            <img src="assets/images/49.JPG" />
            <img src="assets/images/50.JPG" />
            <img src="assets/images/51.JPG" />
            <img src="assets/images/52.JPG" />
            <img src="assets/images/53.JPG" />
            <img src="assets/images/54.JPG" />

            <!-- <img src="assets/images/15.JPG" /> -->
          </div>
        </div>

        <div class="col-6">
          <u>Information Technology</u>
          <hr />
          <div style="margin-top: 5px">
            <img src="assets/images/55.JPG" />
            <img src="assets/images/56.JPG" />
            <img src="assets/images/57.JPG" />
            <img src="assets/images/58.JPG" />
            <img src="assets/images/59.JPG" />
            <img src="assets/images/60.JPG" />
            <img src="assets/images/61.JPG" />
            <img src="assets/images/62.JPG" />
            <img src="assets/images/63.JPG" />
            <img src="assets/images/64.JPG" />
          </div>
        </div>

        <div class="col-6">
          <u>Design & Manufacturing</u>
          <hr />
          <div style="margin-top: 5px">
            <img src="assets/images/30.JPG" />
            <img src="assets/images/31.JPG" />
            <img src="assets/images/32.JPG" />
            <img src="assets/images/33.JPG" />
            <img src="assets/images/34.JPG" />
            <img src="assets/images/35.JPG" />
            <img src="assets/images/36.JPG" />
            <img src="assets/images/37.JPG" />
            <img src="assets/images/38.JPG" />
            <img src="assets/images/39.JPG" />
          </div>
        </div>

        <div class="col-6">
          <u>Fashion Technology</u>
          <hr />
          <div style="margin-top: 5px">
            <img src="assets/images/40.JPG" />
            <img src="assets/images/41.JPG" />
            <img src="assets/images/42.JPG" />
            <img src="assets/images/43.JPG" />
            <img src="assets/images/44.JPG" />
          </div>
        </div>


  
        <div class="container">
      <div class="row left-div">
        <div class="col-md-4">
      <h4 style="margin-left:0px ;">  <input class="b9" disabled><input class="b10" placeholder="USEFUL LINKS" disabled></h4>
      <div ><div><a id="l2" href="http://www.omc.ap.gov.in/" target="_blank">>>OMCAP</a></div><hr>
       <div><a href="" id="l1">>>FACEBOOK</a></div><hr>
       <div><a href=" " id="l3">>>TWITTER</a></div><hr>
       <div><a href="" id="l4">>>ABOUT</a></div><hr>
        </div></div>
        <div class="col-md-4 ms-auto" style="font-size: small;">
        <h4>  <input class="b9" disabled><input class="b10" placeholder="CONTACT DETAILS" disabled></h4>
        <p style="font-size: 20px; margin-left: 24px;">BC WELFARE DEPARTMENT</p>
        <span class="just" style="font-size:20px ;">
        <b>Corp Office/Postal Address</b><br>
         <u id='u2'><b>Toll Free Number:</b>  1800 425 6569</u>  <br>
         <u id="u1">Email: contact@bccms.in</u> 
        </span>
        </div>
      </div>     
    </div> 
      
  
  </div>
</div>
  
</div>


  

</div>
