  <div class="container">
  <div class="card-group mt-3 ">
  <div class="card mx-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/57.JPG" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Angular developer <span class="badge bg-danger">New</span></h5>
            <p class="card-text">Infosys is hiring for the role of Angular developer with minimum 2 years experience.</p>
            <p class="card-text"><small class="text-muted">Priority for early joining candidates (10 to 15 days). </small></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mx-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/59.JPG" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">React developer <span class="badge bg-warning">New</span></h5>
            <p class="card-text">Tech Mahendra is hiring for the role of Ract developer with minimum 2 years experience.</p>
            <p class="card-text"><small class="text-muted">Priority for early joining candidates (10 to 15 days). </small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mx-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/62.JPG" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Python FullStack Developer <span class="badge bg-success">New</span></h5>
            <p class="card-text">Miracle is hiring for the role of Angular developer with minimum 2 years experience.</p>
            <p class="card-text"><small class="text-muted">Priority for early joining candidates (10 to 15 days). </small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-group mt-3 ">
    <div class="card mx-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/images/55.JPG" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h5 class="card-title">Angular developer <span class="badge bg-danger">New</span></h5>
              <p class="card-text">Infosys is hiring for the role of Angular developer with minimum 2 years experience.</p>
              <p class="card-text"><small class="text-muted">Priority for early joining candidates (10 to 15 days). </small></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card mx-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/images/56.JPG" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h5 class="card-title">React developer</h5>
              <p class="card-text">Tech Mahendra is hiring for the role of Ract developer with minimum 2 years experience.</p>
              <p class="card-text"><small class="text-muted">Priority for early joining candidates (10 to 15 days). </small></p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="card mx-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/images/60.JPG" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h5 class="card-title">Python FullStack Developer</h5>
              <p class="card-text">Miracle is hiring for the role of Angular developer with minimum 2 years experience.</p>
              <p class="card-text"><small class="text-muted">Priority for early joining candidates (10 to 15 days). </small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>